.Contact {
    padding: 6% 15% 6% 15%;
    background-color: #F0F0F0;
    text-align: center;
    font-size: large;
}

.Contact title {
    font-size: xx-large;
}

.Contact form {
    width: 100%;
    margin: 0 auto;
}

.Contact form textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    font-size: large;
    box-sizing: border-box;
}

@media only screen and (max-device-width: 480px) {
    .Contact {
        padding: 10% 5% 10% 5%;
        background-color: #F0F0F0;
        text-align: center;
        font-size: large;
    }

    .Contact form {
        width: 100%;
        margin: 0 auto;
    }

    .Contact form textarea {
        max-width: 100%;
        min-width: 100%;
        min-height: 100px;
        font-size: large;
        box-sizing: border-box;
    }
}