.navbar {
    background-color: #222;
    z-index: 1;
    padding: 0 10% 0 10%;
    max-width: 100%;
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0 10% 0 10%;
    }
    .sup {
        padding: 0 10% 0 10%;
    }
}
@media (max-width: 400px) {
    .navbar {
        padding: 0 10% 0 10%;
    }
    .sup {
        padding: 0 10% 0 10%;
    }
}