.navbar {
    background-color: #222;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0;
    }
    .view {
        overflow: hidden;
    }
}


.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}